* {
  border: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}
body,
html {
  height: 100%;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  border: 1px solid #d1d1d1;
  height: 300px;
  margin-top: 20px;
  max-width: 800px;
}
.tab-cont {
  float: left;
  width: 30%;
  background-color: #eee;
  height: 100%;
  border-right: 1px solid #d1d1d1;
}
.tab-cont button {
  width: 100%;
  background-color: inherit;
  padding: 18px;
  font-size: 16px;
  font-weight: 400;
}
.tab-cont button:hover {
  background-color: #ccc;
}
.tab-content {
  height: 100%;
  float: left;
  padding: 20px;
  width: 70%;
  animation: anime 1s;
}

.tab-content h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0 10px 0;
}
.tab-content p {
  font-weight: 100;
  color: #666;
  margin-top: 20px;
}
.tab-cont .but.active {
  background-color: #b4b4b4;
}
@keyframes anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
